@font-face {
    font-family: "Fjalla_One";
    src: url("../fonts/Fjalla_One/FjallaOne-Regular.ttf")
    format("truetype");
}

@font-face {
    font-family: "Work_Sans";
    src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf")
    format("truetype");
}

h1{
    font-family: "Fjalla_One";
}

p{
    font-family: "Work_Sans";
}